@import '../../../styles/config/variables';

.formsInput {
  font: $font-text;
  padding: 1.25rem;
  border-radius: 30px;
  border: $forms-border;
  margin-bottom: 1.25rem;
  box-shadow: 0px 10px 30px rgba(9, 10, 17, 0.05);
}

.formsLabel {
  font: $font-label;
  font-weight: 700;
}