@import '../../../styles/config/variables';
@import '../../../styles/config/mixins';
.navbar {
  width: 100%;
  padding: 2.5rem 0;
}

.tag {
  font-weight: 300;
  font-size: 1.125rem;
  color: $color-enphasis-1;
  border: 1px solid $color-enphasis-1;
  border-radius: .625rem;
  padding: .625rem 2.5rem;
  margin-bottom: 1.25rem;
  display: inline-block;
  transition: 0.7s;
  position: absolute;
  &:hover {
    background: $color-primary-3;
    cursor: default;
    transform: rotate(360deg);
    box-shadow: 0px 10px 30px 0px hsla(234, 84%, 25%, 0.15);
    &::before {
      display: block;
      content: 'Carros novos';
    }
    &::after {
      display: block;
      content: 'Carros baratos';
    }
  }
}

.hero {
  margin: 2.5rem 0;
  background: url('../../../public/heroBackground.svg') no-repeat right;
  position: relative;
  h1 {
    margin-top: 3.75rem;
  }
  p {
    margin-bottom: 2.5rem;
  }
}