@import '../../../styles/config/variables';

@media (max-width: $carUniqueBreakMedium) {
  .container {
    display: flex !important;
    flex-direction: column;
    .carousel {
      ul.dotsContainer{
        margin-bottom: 4.375rem !important;
      }
    }
  }
}


.container {
  max-width: 1130px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
  'slider information'
  'slider description'
  'specifications additionals';
  gap: 2.5rem;
  padding: 2.5rem;
  .carousel {
    grid-area: slider;
    max-width: 31rem;
    position: relative;
    border-radius: 1.25rem;
    img {
      border-radius: 1.25rem;
    }
    .dotsContainer {
      margin-bottom: 3.125rem !important;
      li {
        button {
          width: .5rem;
          height: .5rem;
          &::before{
            color: $color-enphasis-1 !important;
            width: .5rem;
            height: .5rem;
          }
        }
      }
    }
    .arrow {
      position: absolute;
      z-index: 10;
      cursor: pointer;
    }
    .prevArrow {
      left: 1.25rem;
    }
    .nextArrow {
      right: 1.25rem;
    }
  }
  .specifications {
    grid-area: specifications;
    box-shadow: 0px 4px 30px 0px #090A111A;
    width: 100%;
    border-radius: 1.25rem;
    padding: 1.25rem 0;
    h2 {
      margin: 0 0 1.25rem 1.25rem;
    }
    table {
      width: 100%;
      tr {
        width: 100%;
        padding: .3125rem 1.25rem;
        display: block;
        display: flex;
        &:nth-child(even) {
          background: #f0f0f0;
        }
        th {
          font: 700 1rem Poppins, sans-serif;
          color: $color-primary-1;
          text-align: left;
        }
        td {
          text-align: right;
          flex: 1;
          font: 400 1rem Nunito, sans-serif;
          color: $color-secondary-1;
        }
      }
    }
  }
  .additionals {
    h2 {
      margin-bottom: 1.25rem;
    }
    .additionalItem {
      font: 400 1rem Nunito, sans-serif;
      margin: 0 .625rem .625rem .625rem;
      border-radius: .9375rem;
      padding: .625rem .9375rem;
      background: $color-green-1;
      color: $color-green-2;
      width: fit-content;
      height: fit-content;
      border: 2px solid $color-green-1;
      transition: 0.2s;
      cursor: default;
      &:hover {
        border: 2px solid $color-green-2;
      }
      svg {
        margin-left: .625rem;
      }
    }
  }
  .description {
    grid-area: description;
    box-shadow: 0px 4px 30px rgba(9, 10, 17, 0.1);
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin-top: 1.25rem;
    p {
      margin-top: .625rem;
    }
  }
  .rightSide {
    grid-area: information;
    position: relative;
    .carInfo {
      min-height: 120px;
      h2 {
        max-width: 18.75rem;
      }
      .carName {
        font: 400 1.5rem Poppins, sans-serif;
        color: $color-primary-1;
      }
      .price {
        color: $color-enphasis-3;
        font: 700 2rem Poppins, sans-serif;
      }
    }
    p {
      position: absolute;
      top: 0.3125rem;
      right: 0;
    }
    .actionButtonContainer {
      position: absolute;
      bottom: 10px;
      right: 0;
      .actionButton {
        width: fit-content;
        padding: 1.25rem;
        box-shadow: 0px 4px 20px rgba(9, 10, 17, 0.06);
        border-radius: 1.25rem;
        cursor: pointer;
        transition: 0.2s;
        & + .actionButton {
          margin-left: .625rem;
        }
        &.phone {
          border: 2px solid $color-enphasis-3;
          color: $color-enphasis-3;
          &:hover {
            background: $color-secondary-3;
          }
          &:active {
            background: $color-secondary-2;
          }
        }
        &.chat {
          background: $color-enphasis-3;
          color: #fff;
          &:hover {
            background: $color-enphasis-4;
          }
          &:active {
            background: $color-enphasis-6;
          }
        }
      }
    }
  }
}
