@import '../../../styles/config/variables';
.searchButton {
  div {
    font-weight: 300 !important;
  }
}
.button {
  font: 700 1.125rem Poppins, sans-serif;
  
  padding: .625rem 2.5rem;
  transition: 0.2s;
  border-radius: 50px;
  background: $color-enphasis-3;
  color: $color-secondary-3;
  box-shadow: 0px 10px 30px 0px hsla(234, 84%, 25%, 0.15);

  &.fillParent {
    width: 100%;

    // &.spacer{
    //   position: relative;
    //   margin-bottom: 3.75rem;

    //   &::after {
    //     position: absolute;
    //     bottom: 0;
    //     margin-bottom: -1.25rem;
    //     background-color: $color-secondary-2;
    //     display: block;
    //     content: "";
    //     height: .0625rem;
    //     width: calc(100% + 2.5rem);
    //  }
    // }
    
    &.google {
      background: $color-google;
      box-shadow: 0px 10px 30px rgba(234, 67, 53, 0.25);
      &:hover {
        background: $hover-google;
      }
  
      &:active {
        background: $active-google;
      }
  
      &:focus {
        background: $focus-google;
      }
    }

    &.facebook {
      background: $color-facebook;
      box-shadow: 0px 10px 30px rgba(59, 89, 152, 0.25);
      &:hover {
        background: $hover-facebook;
      }
  
      &:active {
        background: $active-facebook;
      }
  
      &:focus {
        background: $focus-facebook;
      }
    }
  }


  &.buttonSecondary {
    background: #fff;
    color: $color-primary-3;
    box-shadow: none;
    border: 4px solid $color-secondary-3;

    &:hover {
      background: $color-secondary-3;
    }

    &:active {
      background: $color-enphasis-2;
    }

    &:focus {
      background: $color-secondary-2;
    }
  }

  &:hover {
    background: $color-enphasis-4;
  }

  &:active {
    background: $color-enphasis-2;
  }

  &:focus {
    background: $color-enphasis-1;
  }

}