@import '../../../styles/config/variables';

.button {
  display: inline-block;
  padding: 1.25rem 2.5rem;
  justify-content: center;
  
  transition: 0.2s;

  font-size: 1.125rem;
  font-weight: 700;

  border-radius: 1000px;
  background: $color-enphasis-3;
  color: $color-secondary-3;
  box-shadow: 0px 10px 30px 0px hsla(234, 84%, 25%, 0.15);

  &.fillParent {
    width: 100%;
  }

  &.buttonSecondary {
    background: #fff;
    color: $color-primary-3;
    box-shadow: none;

    &:hover {
      background: $color-secondary-3;
    }

    &:active {
      background: $color-enphasis-2;
    }

    &:focus {
      background: $color-secondary-2;
    }
  }

  &:hover {
    background: $color-enphasis-4;
  }

  &:active {
    background: $color-enphasis-2;
  }

  &:focus {
    background: $color-enphasis-1;
  }

  svg {
    margin-left: 0.625rem;
  }
}