@import '../../../styles/config/variables';

@media (max-width: $breakPoint) {
  p.text {
    font-size: 1.33rem;
  }
}

.text {
  font: $font-text;
  max-width: 30rem;
  color: $color-primary-1;
  
  &.white {
    color: $color-secondary-3;
  } 

  &.center {
    text-align: center;
  }
}
