@import '../../../styles/config/variables';

.text {
  font: $font-text;
  font-weight: 400;
  max-width: 30rem;
  color: $color-primary-1;
  margin-top: 1.25rem;

  &.white {
    color: $color-secondary-3;
  }
}
