@import '../../../../../styles/config/variables';

.navbar,
.hero {
  max-width: 1280px;
  margin: 0 auto;
}

.newCar {
  background: linear-gradient(162.73deg, #616BD1 0%, #2C3BD1 100%);

  header {
    text-align: center;
    max-width: 40.25rem;
  }

  padding: 5rem;
}