@import '../../../../../styles/config/variables';

@media (max-width: $breakPoint) {
  section.devices {
    padding: 10rem 1.25rem 5rem 1.25rem;
    .devicesImages {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.devices {
  width: 100%;
  margin-top: 3rem;
  padding-top: 10rem;

  background: url("../../../../../public/lal.svg") no-repeat;
  background-size: cover;
  background-position: top;

  h1 {
    max-width: 900px !important;
  }

  .devicesImages {
    margin-top: 5rem;
    margin-bottom: 5rem;

    .device {
      padding: 1rem !important;
    }
  }
}