@import '../../../styles/config/variables';

.userLogo {
  border-radius: 50%;
}

.details {
  margin-left: .625rem;

  .userRate {
    font: 300 1rem Nunito, sans-serif;
    color: $color-secondary-1;
    p {
      margin-right: .625rem;
    }
  }
}
