@import '../../../styles/config/variables';

.userLogo {
  border-radius: 50%;
}

.previewContainer {
  padding: 2.5rem 0;
  width: 100%;
}

.profile {
  border-radius: 1.25rem;
  box-shadow: 0px -10px 40px 0px #24274220;
  padding: 1.25rem 2.5rem;
}

.details {
  margin-left: .625rem;

  .userRate {
    font: 300 1rem Nunito, sans-serif;
    color: $color-secondary-1;
    p {
      margin-right: .625rem;
    }
  }
}
