@import '../../../styles/config/variables';
@import '../../../styles/config/mixins';

.title {
  max-width: 45rem;
  color: $color-primary-2;
  font: $font-title;
  font-weight: 700;

  &.white {
    color: $color-secondary-3;
  }

  &.center {
    text-align: center;
  }

  span {
    color: $color-enphasis-3;
  }
}