@import '../../../../../styles/config/variables';

@media (max-width: $breakPoint) {
  section.chat {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1.25rem;
    margin: 5rem 0;
    header {
      margin-bottom: 5rem;
      text-align: center;
    }
  }
}

.chat {
  padding: 5rem;

  header {
    max-width: 31.25rem;
    margin-left: 2.5rem;
  }
}