@import "../../../styles/config/variables";

@media (max-width: 1200px) {
  .navbar:first-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    bottom: 0;
    top: unset;
    z-index: 10;
    position: fixed;
    .navItem {
      & + .navItem {
        margin-top: 0;
        font-size: 1rem;
      }
      p {
        margin-top: .5rem;
        font-size: 0.875rem;
        margin-left: 0
      }
      svg {
        font-size: 1.5rem;
      }
    }
  }

  .navbar > ul {
    flex-direction: row;
  }

  .navbar > svg {
    display: none;
  }

  .navItem > a {
    flex-direction: column;
  }

  .navbar > button {
    display: none !important;
  }
}

.landingNavbar {
  padding: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
  .buttonContainer {
    a + a {
      margin-left: 1.25rem;
    }
  }
}

.navbar {
  background: linear-gradient(176.65deg, #090a11 0%, #393d60 100%);
  padding: 0.625rem 1.25rem;
  height: 100vh;
  min-width: 16.75rem;
  position: sticky;
  top: 0;
  & > svg {
    height: 3.125rem;
    margin: 2.5rem 0;
  }
  .icons {
    color: #fff;
  }
  ul {
    &,
    a,
    .navItem {
      width: 100%;
    }
    .navItem {
      border-radius: 1.25rem;
      transition: 0.2s;
      a {
        padding: 0.625rem;
      }
      & + .navItem {
        margin-top: 0.625rem;
      }
      p {
        color: #e6e7f4;
        margin-left: 0.3125rem;
      }
      &:hover {
        width: 100%;
        background: #090a11;
      }
    }
  }
}
