@import '../../../styles//config/variables';

.actionButton {
  min-width: 12.5rem;
  height: 12.5rem;
  border-radius: 2.5rem;
  padding: 1.25rem;
  box-shadow: 0rem 1.25rem 1.1875rem rgba(9, 10, 17, 0.1);
  & + .actionButton {
    margin-left: 1.25rem;
  }

  &:hover {
    box-shadow: 0px 8px 1.1875rem rgba(9, 10, 17, 0.3);
  }
  &.fipe {
    background: linear-gradient(135deg, #616bd1 0%, #2c3bd1 100%);
  }
  .imageContainer {
    flex: 1;
    margin-bottom: 1.25rem;
  }
  .cta {
    width: 100%;
    font: 700 1rem Poppins, sans-serif;
    padding: .625rem 0;
    background: linear-gradient(135deg, #fff 0%, #fff 100%);
    font-weight: 700;
    color: $color-primary-2;
    border-radius: 2.5rem;
    transition: 2s;
    &:hover {
      background: linear-gradient(135deg, #fff 20%, $color-secondary-2 100%);
    }
  }
}
