@import '../../../../../styles/config/variables';

.hero {
  margin-top: 2rem;
  position: relative;

  background: url("../../../../../public/heroBackground.svg") no-repeat right;

  .arrowIcon {
    margin-left: 0.625rem;
  }

  h1 {
    margin-top: 3.75rem;
    max-width: 43.75rem;
  }

  p {
    margin-bottom: 2.5rem;
  }
}