* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  &:after,
  &:before {
    display: block;
    content: '';
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}