$color-primary-1: #393D60; 
$color-primary-2: #242742; 
$color-primary-3: #121321; 
$color-primary-4: #090A11; 

$color-secondary-1: #666B99; 
$color-secondary-2: #ADB3EB; 
$color-secondary-3: #F0F0F0; 

$color-enphasis-1: #616BD1;
$color-enphasis-2: #4754D1;
$color-enphasis-3: #2C3BD1;
$color-enphasis-4: #1F2CAD;
$color-enphasis-5: #16239C;
$color-enphasis-6: #0A1476;

$color-google: #EA4335;
$hover-google: #cc3426;
$active-google: #fd5a4b;
$focus-google: #f15142;

$color-facebook: #3B5998;
$hover-facebook: #2d4883;
$active-facebook: #5475bb;
$focus-facebook: #4a6aaf;

$color-error: #d12c2c;

$forms-border: 1px solid $color-secondary-3;

$font-title: 3rem 'Poppins', sans-serif;
$font-subtitle: 1.5rem 'Nunito', sans-serif;
$font-text: 1rem 'Nunito', sans-serif;
$font-label: 1rem 'Poppins', sans-serif;
$font-paragraph: .875rem 'Nunito', sans-serif;

$breakPoint: 800px;