$color-primary-1: #393D60; 
$color-primary-2: #242742; 
$color-primary-3: #121321; 
$color-primary-4: #090A11; 

$color-secondary-1: #666B99; 
$color-secondary-2: #ADB3EB; 
$color-secondary-3: #F0F0F0; 

$color-enphasis-1: #616BD1;
$color-enphasis-2: #4754D1;
$color-enphasis-3: #2C3BD1;
$color-enphasis-4: #1F2CAD;
$color-enphasis-5: #16239C;
$color-enphasis-6: #0A1476;

$title-font: 'Poppins', sans-serif;
$title-1-size: 3rem;