$color-primary-1: #393d60;
$color-primary-2: #242742;
$color-primary-3: #121321;
$color-primary-4: #090a11;

$color-secondary-1: #666b99;
$color-secondary-2: #adb3eb;
$color-secondary-3: #f5f6ff;

$color-enphasis-1: #616bd1;
$color-enphasis-2: #4754d1;
$color-enphasis-3: #2c3bd1;
$color-enphasis-4: #1f2cad;
$color-enphasis-5: #16239c;
$color-enphasis-6: #0a1476;

$color-google: #ea4335;
$hover-google: #cc3426;
$active-google: #fd5a4b;
$focus-google: #f15142;

$color-facebook: #3b5998;
$hover-facebook: #2d4883;
$active-facebook: #5475bb;
$focus-facebook: #4a6aaf;

$color-error: #d12c2c;

$hover-dark: #1c1e31;
$active-dark: #3b4069;
$focus-dark: #34385e;

$color-favorite: #d60520;

$forms-border: 1px solid $color-secondary-3;
$forms-border-focused: 1px solid $color-secondary-2;

$font-title: 3rem 'Poppins', sans-serif;
$font-subtitle: 1.5rem 'Nunito', sans-serif;
$font-text: 1rem 'Nunito', sans-serif;
$font-label: 1rem 'Poppins', sans-serif;
$font-paragraph: .875rem 'Nunito', sans-serif;

$breakPoint: 800px;

$formsBreakMedium: 1130px;
$formsBreakSmall: 450px;
