@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

@import "variables";
@import "mixins";
@import "reset";
@import "../animations.scss";

@media (max-width: $breakPoint) {
  :root {
    font-size: 75% !important;
  }
}

body {
  &::-webkit-scrollbar {
    width: .625rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5rem;
    background: $color-secondary-3;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: $color-primary-1;
    width: 10px !important;
  }
}

.slick-dots {
  li {
    button {
      &::before {
        top: 20px !important;
        color: $color-secondary-3 !important;
        font-size: 1.25rem !important;
      }
    }

    &.slick-active {
      button {
        &::before {
          font-size: 1.25rem !important;
          color: $color-secondary-3 !important;
        }
      }
    }
  }
}

.container {
  max-width: 1280px;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.fullHeight {
  height: 100vh;
}

.box {
  box-shadow: 0px 20px 70px 0px #2427421A;
  padding: 2.5rem 5rem;
  border-radius: 20px;
  width: 100%;
}

.error {
  font: $font-text;
  color: $color-error;
  margin-top: .625rem;
}

// Max width
.maxWidth {
  max-width: 1200px;
  margin: initial auto;
}

// Flex
.flex {
  display: flex;
}

.mainCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.crossCenter {
  align-items: center;
}

.mainStart {
  justify-content: flex-start;
}

.crossStart {
  align-items: flex-start;
}

.crossEnd {
  align-items: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}

.mainAround {
  justify-content: space-around;
}
