@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@import "variables";
@import "mixins";
@import "reset";

h1,
h2,
h3,
h4,
p,
span,
.button {
  font-family: $title-font;
}

.container {
  max-width: 1280px;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.title {
  max-width: 45rem;
  @include title-1;
  color: $color-primary-3;
  &.white {
    color: $color-secondary-3;
  }
  &.center {
    text-align: center;
  }
  span {
    color: $color-enphasis-3;
  }
}

.button {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  background: $color-enphasis-3;
  padding: 1.25rem 2.5rem;
  color: $color-secondary-3;
  border-radius: 0.625rem;
  box-shadow: 0px 10px 30px 0px hsla(234, 84%, 25%, 0.15);
  display: inline-block;
  transition: 0.2s;
  &.buttonSecondary {
    background: #fff;
    color: $color-primary-3;
    box-shadow: none;
    &:hover {
      background: $color-secondary-1;
    }
    &:active {
      background: $color-enphasis-2;
    }
    &:focus {
      background: $color-secondary-2;
    }
  }
  &:hover {
    background: $color-enphasis-4;
  }
  &:active {
    background: $color-enphasis-2;
  }
  &:focus {
    background: $color-enphasis-1;
  }
  svg {
    margin-left: 0.625rem;
  }
}

.text {
  font-size: 1rem;
  font-weight: 400;
  max-width: 30rem;
  color: $color-primary-1;
  margin-top: 1.25rem;
}

// Flex
.flex {
  display: flex;
}

.mainCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.crossCenter {
  align-items: center;
}

.mainStart {
  justify-content: flex-start;
}

.crossStart {
  align-items: flex-start;
}

.crossEnd {
  align-items: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}
