@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@import "variables";
@import "mixins";
@import "reset";

.container {
  max-width: 1280px;
  padding: 0 2.5rem;
  margin: 0 auto;
}

h1 {
  max-width: 45rem;
  @include title-1;
  span {
    color: $color-enphasis-3;
  }
}

h1,
h2,
h3,
h4,
.button,
span {
  font-family: $title-font;
}

.button {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
  background: $color-enphasis-3;
  padding: 1.25rem 2.5rem;
  color: $color-secondary-3;
  border-radius: 0.625rem;
  box-shadow: 0px 10px 30px 0px hsla(234, 84%, 25%, 0.15);
  &.buttonSecondary {
    background: #fff;
    color: $color-primary-3;
    box-shadow: none;
  }
}

// Flex
.flex {
  display: flex;
}

.mainCenter {
  justify-content: center;
}

.column {
  flex-direction: column;
}

.crossCenter {
  align-items: center;
}

.mainStart {
  justify-content: flex-start;
}

.crossStart {
  align-items: flex-start;
}

.crossEnd {
  align-items: flex-end;
}

.spaceBetween {
  justify-content: space-between;
}
